@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  a {
    @apply bg-white text-black px-2    
  }
  a:hover {
    @apply bg-gray-400
  }

  ::-moz-selection {
    color: black;
    background: white;
  }
  
  ::selection {
    color: black;
    background: white;
  }
}